@import '../../../node_modules/blueprint-css/src/_utility';
@import '../../../node_modules/blueprint-css/src/blueprint';

$color-white: #fff;
$color-grey: #ccc;
$color-grey-dark: #2d2d2d;
$color-grey-light: #efefef;
$color-body: #ededed;
$color-img-background: #d4d4d4;
$color-transparent-grey: rgba(0, 0, 0, 0.8);

.card {
  overflow: hidden;
  background: $color-white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 16px;
  width: 100%;
  display: block;
}

.card--media{
  display: block;
  width: 100%;
  padding: 10px 14px;
  border-bottom: 1px solid $color-grey;
  position: relative;
  min-height: 74px;
  text-decoration: none;
  overflow: hidden;
  background-color: $color-white;
  border-radius: 3px;
  float: left;
  height: 100%;

  &__img {
    background-color: $color-img-background;
    object-fit: cover;
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 144px;
  }

  &__content {
    color: $color-grey-dark;
    margin-top: 20px;
  }
}

.card--header{
  cursor: pointer;
}

.fly {
  animation: fly 14s linear infinite;
}

.down {
  animation: bounce 300ms infinite alternate;
  -webkit-animation: bounce 300ms infinite alternate;
}

.shake {
  animation: shake 700ms infinite alternate;
  -webkit-animation: shake 700ms infinite alternate;
}

@keyframes fly {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(-60deg); }
  100% { transform: rotate(-30deg); }
}

@keyframes bounce { 
  from { transform: translateY(10px); }
  to { transform: translateY(-5px); }
}

@keyframes shake { 
  from { transform: translateX(0px); }
  to { transform: translateX(-10px); }
}

