<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngFor="let env of instlist | async" class="btn-group" style="margin-bottom: 15px;">
	<button (click)="search(env.ID)" type="button" class="btn btn btn-sm" >{{env.ID}}</button>
</div>

<div bp-layout="row">
	<div *ngFor="let p of instances | async" bp-layout="col 6 4@md 2@lg">
		<table class="card--media">
			<tr>
				<td align="left" style="width:100%" class="card--header">
					<i class="fa fa-cloud" data-toggle="modal" data-target="#myModal" (click)="SelectMovie(p)" style="font-size:100%;color:Black;"><span>  #{{p.NAME}}</span></i>
				</td>
				<td align="right">
					<div *ngIf="p.STATUS==='RUNNING'">
						<i class="fa fa-rocket fly" style="font-size:150%;color:YellowGreen;"></i>
					</div>
					<div *ngIf="p.STATUS==='TERMINATED'">
						<i class="fa fa-thumbs-down down" style="font-size:150%;color:Tomato;"></i>
					</div>
					<div *ngIf="p.STATUS==='STOPPING'">
						<i class="fa fa-wrench shake" style="font-size:150%;color:Orange;"></i>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr>
					<strong>internal:</strong> {{p.INTERNAL_IP}}<br>
					<strong>external:</strong> {{p.EXTERNAL_IP}}<br>
					<strong>zone:</strong> {{p.ZONE}}<br>
				</td>
			</tr>
		</table>
	</div>
</div>


<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Service list</h4>
			</div>
			<div class="modal-body">
				<table width="80%" *ngFor="let ser of services">
					<tr>
						<td>
							<strong style="color:cornflowerblue">{{ser.NAME}}</strong><br>
							<strong>Internal:</strong> {{selectedMovie.INTERNAL_IP}}:{{ser.PORT}}<br>
							<strong>External:</strong> {{selectedMovie.EXTERNAL_IP}}:{{ser.PORT}}<br>
						</td>
						<td align="right">
							<i class="fa fa-gears" style="font-size:150%;color:Black;"></i>
						</td>
					</tr>
					<hr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<router-outlet></router-outlet>